
* {
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* navigation bar */

#header {
    position: sticky;
    top: 0px;
}

.logo img {
    position: absolute;
    margin: 0px 0px;
    padding: 0px 10px;
    left: 10px;
    height: 5vmax;
}

.navbar li {
    display: inline-block;
    list-style: none;
    font-size: 1.2rem;
}

.navbar li a {
    color: rgb(66, 63, 63);
    text-decoration: none;
}

.navbar li a:hover {
    /* background-color: black; */
    color: rgb(0, 0, 0);
    /* border: 2px solid black; */
    text-decoration: underline;
}

.logo {
    display: inline;
    cursor: pointer;
}

.nav-item {
    margin: 12px 20px;
    padding: 6px 27px;
}

.mid {
    display: block;
    width: 43%;
    margin: 25px auto;
    /* border: 2px solid whitesmoke; */
}

/* navigation bar end  */




/* first footer */
ul{
    margin: 0px 30px;
    list-style: none;
}
#navd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin: 2;
}

.logo1 img {
    margin: 0px 30px;
    height: 10vmax;
}

/* first footer end */

/*copyright footer */
#ftr {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

p {
    margin: 5px;
}

p a {
    color: aliceblue;
}

/* copyright footer end  */

 /* help */
 .btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 14px 20px;
    border-radius: 20%;
  }
  /* help end  */